body {
    background-color: #6f4e37;
  }

  h1 {
    text-align: center;
    color: #eeebd0;
  }

  button {
    background-color: #071e22;
    color: #eeebd0
  }

  img {
    width: 100px;
    height: 100px;
  }